@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Josefin Sans", sans-serif ;
    background-color: #E8F8F5 ;
    color: #34495E ;
}

h1, h2{
    font-family: "Montserrat", sans-serif ;
}

h1{
    text-decoration: underline;
    font-weight: 900;
}

h2{
    font-weight: 800;
}

h3{
    text-align: end;
}

a{
    color: #34495E ;
}

